<!DOCTYPE html>
<html lang="en">
    <head>
      <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
      <title>{{ title }}</title>
    </head>
    <body>
        <p>Last generated: {{ last_gen_time.strftime('%d %b %Y %H:%M') }}</p>
        <a id="top"></a>


        {% block content %}{% endblock %}

        <a href="#top">Back to top</a>
    </body>
</html>